body {
    font-family: 'Montserrat', sans-ser;
}

h1 {
    font-family: 'Montserrat', sans-ser;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-ser;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: x-large;
}

p {
    color: #8f8f8f;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
}

.card {
    padding: 3% 2%;
}

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta_heading {
    font-family: 'Montserrat', sans-ser;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer {
    padding: 7% 15%;
    text-align: center;
}

.socail-icon {
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}